@{
    ViewData["Title"] = "Услуги";
}

<div class="services-container">
    <h2>УСЛУГИ</h2>

    <div class="service-card">
        <img src="https://hyperpc.ru/images/content/main-menu/services/hyperpc-updrade-center-menu-738px.jpg?1" alt="Апгрейд-центр">
        <div class="service-info">
            <h3>Апгрейд-центр</h3>
            <p>Прокачай свой ПК</p>
        </div>
    </div>

    <div class="service-card">
        <img src="https://i.ytimg.com/vi/B8e8aKshUO8/maxresdefault.jpg" alt="Техническое обслуживание">
        <div class="service-info">
            <h3>Техническое обслуживание</h3>
            <p>Забота о вашем ПК</p>
        </div>
    </div>

    <div class="service-card">
        <img src="https://hyperpc.ru/images/company/upgrade-center/design/vinyl/update/upgrade-center-vinyl-1_webp.jpg?1" alt="Моддинг и кастомизация">
        <div class="service-info">
            <h3>Моддинг и кастомизация</h3>
            <p>Персонализация ПК</p>
        </div>
    </div>

    <div class="service-card">
        <img src="https://hyperpc.ru/images/product/gaming-pc/optimal/hyper_raven/combo/hyper-raven-alt-2.jpg" alt="Трейд-ин">
        <div class="service-info">
            <h3>Трейд-ин</h3>
            <p>Выгодный обмен ПК</p>
        </div>
    </div>
</div>